For Typescript code the following rules shall ALWAYS apply:

* Do NOT use `new Error`. Instead, define a custom error using the `ts-custom-errors` package.
* When importing from modules do NOT append `.js` to the module filename.
* When exporting from modules to NOT append `.js` to the module filename.